.ax_形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_文本 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h1 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h2 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h3 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h4 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h5 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h6 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_image {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_文本链接 {
  color:#0000FF;
}
.ax_鼠标悬停文本链接 {
}
.ax_鼠标按下文本链接 {
}
.ax_文本框_单行_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_文本框_多行_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_下拉列表框 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_列表选择框 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_复选框 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_单选按钮 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_流程形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_树节点 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_html__ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_图像热区 {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_内部框架 {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_动态面板 {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_编辑选项 {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_中继器 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_表格 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_表格单元 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_菜单 {
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_横线 {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_垂直线 {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.fontawesome {
}
._btn-default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-default_hover {
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-primary {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-primary_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
.form_text_field {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
.dropdown-menu {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
._navbar-inverse__background_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:20px;
}
._navbar-inverse_link {
  font-size:14px;
  color:#999999;
  line-height:20px;
}
._navbar-inverse_link_hover {
  color:#FFFFFF;
}
._btn-grp_divider {
}
._dropdown_menuitem {
  font-family:'Arial Normal', 'Arial';
}
._dropdown_menuitem_hover {
  color:#252525;
}
.lead {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
  line-height:29px;
}
._btn-success {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-success_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-grp__btn-default__ends_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
._btn-grp__btn-default_hover {
}
.blockquote {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:22px;
}
._pager_btn {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#428BCA;
  line-height:20px;
}
._modal-dialogue_header {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:25px;
}
._modal-dialogue_content {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._modal-backdrop {
}
._nav-pills_focused_pill {
  color:#FFFFFF;
}
._nav-pills_background_pills {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:left;
  line-height:20px;
}
._nav-pills_pill_hover {
  color:#2A6496;
}
.badge {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
.badge_active {
  color:#428BCA;
}
._panel__panel-default__header_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
.popover__panel_content {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
.tooltip {
  color:#FFFFFF;
}
.tooltip_arrow {
}
._well__well-sm {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._panel__panel-default__no_title_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
._panel__panel-default__content_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
._progressbar_base {
  line-height:20px;
}
._progressbar_danger {
  line-height:20px;
}
.dropdown-menu_hover {
  line-height:26px;
}
._pagination {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  line-height:26px;
}
._alert-danger {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A94442;
  line-height:20px;
}
._alert-warning {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A6D3B;
  line-height:20px;
}
._alert-info {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#31708F;
  line-height:20px;
}
._navbar-default__content_ {
  font-family:'Arial Normal', 'Arial';
  color:#555555;
  line-height:20px;
}
._navbar-default__background_ {
  font-family:'Arial Normal', 'Arial';
  font-size:18px;
  color:#5E5E5E;
  line-height:20px;
}
._navbar-default_link_hover {
  color:#2A6496;
}
._btn-grp__btn-default__center_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
._dropdown-menu__dropdown-header {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:17px;
}
.label {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._btn-danger {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-danger_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-info {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-info_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-warning {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-warning_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-link {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._btn-link_hover {
  color:#2A6496;
  text-align:center;
  line-height:20px;
}
._nav-tab_focused_tab {
  color:#555555;
  line-height:20px;
}
._nav-tab_background_tabs {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._nav-tab_tab_hover {
  color:#2A6496;
}
._alert-success {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3C763D;
  line-height:20px;
}
._progressbar_success {
  line-height:20px;
}
._well {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._well__well-lg {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._progressbar_info {
  line-height:20px;
}
._breadcrumb_background {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  line-height:20px;
}
._text-muted {
  color:#999999;
}
._text-primary {
  color:#428BCA;
}
._text-success {
  color:#3C763D;
}
._text-info {
  color:#31708F;
}
._text-warning {
  color:#8A6D3B;
}
._text-danger {
  color:#A94442;
}
